@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(14, 14, 14), rgb(31, 31, 31), black);
    padding: 20px;
}
header h1{
    font-variant: small-caps;
    margin: 10px 0px;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header span{
    text-decoration: underline;
}

main p{
    
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 1.2em;
}

section{
    padding: 10vh 0px;
    line-height: 1.75em;
}

section.normal{
    background-color: white;
    color: black;
}

section.image{
    background-color: rgb(34, 34, 34);
    color: white;
}

section.image > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
}

footer{
    color: white;
    background-color: black;
    padding: 5px;
    
}

footer p{
    padding: 10px;
    margin-left: 20px;
}