@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --myFont01: Arial, sans-serif;
    --myFont02: Verdana, Geneva, Tahoma, sans-serif;
    --myFont03: 'Pacifico', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--myFont01);
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(14, 14, 14), rgb(31, 31, 31), black);
    padding: 20px;
}
header h1{
    font-family: var(--myFont02);
    font-size: 2.5em;
    font-variant: small-caps;
    margin: 10px 0px;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section p{
    font-family: var(--myFont03);
    font-size: 1.4em;
    padding: 20px;
    border-radius: 10px;
    margin-left: 30px;
}

section{
    padding: 10vh 0px;
    line-height: 2.5em;
}

section.normal{
    background-color: white;
    color: black;
}

section.image{
    background-color: rgb(34, 34, 34);
    background-attachment: fixed;
    color: white;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.7);
}

section.image > p{
    display: inline-block;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.5);
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer{
    color: white;
    background-color: black;
}

footer p{
    padding: 30px;
    margin-left: 10px;
}